.footer {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #607d8b21;
}
.footer b {
  color: #ddd;
  letter-spacing: 1px;
}
.pre-footer {
  display: flex;
}
.footer ul {
  list-style: none;
}
.footer .list p {
  font-size: 15px;
  color: cadetblue;
  transition: 0.5s;
}
.footer .list-body a {
  display: flex;
  color: cadetblue;
  transition: 0.5s;
}
.footer .list-body a:hover,
.footer .list p:hover {
  color: #fff;
}