.navbar-expand-lg {
  background-color: transparent;
  position: absolute !important;
  z-index: 2;
  width: 100%;
}
.navbar-brand {
  width: 80%;
}
.navbar-brand img {
  width: 7%;
  height: auto;
  border-radius: 50%;
}
.nav-item .nav-link {
  color: #fff;
}
@media (max-width: 768px) {
  .navbar-brand {
    width: 70%;
  }
  .navbar-brand img {
    width: 22%;
  }
  .navbar-toggler {
  background-color: rgba(164, 217, 219, 0.907) !important;
  color: #fff !important;
}
.navbar-nav {
  background-color: darkcyan;
  padding: 25px !important;
}

}
